.Loginform input[type=text],input[type=password],input[type=email] {
    border: none;
    outline: none;
    border-bottom: 0.2em solid #06060685;
 
    padding: 0.4em;
    color: #000000;
    border-radius: 16px;
}
.loginnav .navbar-nav{
    width: 19%;
    justify-content: space-evenly;
    margin: 0 auto;
}
.loginli a{
    color: rgb(0, 0, 0);
}
.loginli a:hover{
    color: rgb(255, 255, 255);
}

.loginli:hover{
    background: linear-gradient(273deg, #ff0099, #ff0000fa);
    color: white;
    border-radius: 5px;
}
.active{
    background: linear-gradient(273deg, #ff0099, #ff0000fa);
    color: white;
    border-radius: 5px;
}
